################
#ansible-managed
################

version: "3.3"

services:

  {{ traefik_service }}:
    image: {{ traefik_image }}
    container_name: {{ traefik_container_name }}
    ports: {{ traefik_compose_ports | to_json }}
    restart: always
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik_config }}:/etc/traefik/traefik.toml"
      - "{{ traefik_certs }}:/etc/traefik/acme.json:rw"

  {{ nginx_service }}:
    image: {{ nginx_image }}
    container_name: {{ nginx_container_name }}
#    ports: {{ nginx_compose_ports | to_json }}
    restart: always
    volumes:
      - "{{ nginx_pages_dir }}:/var/apps/:rw"
      - "{{ nginx_configs_dir }}:/etc/nginx/conf.d/:rw"
      - "{{ nginx_config }}:/etc/nginx/nginx.conf:rw"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.entrypoints=web"
      - "traefik.http.routers.nginx.rule=HostRegexp(`{host:.+}`)"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.nginx.middlewares=redirect-to-https"
      - "traefik.http.services.nginx-service.loadbalancer.server.port={{ nginx_port }}"
      - "traefik.http.middlewares.404errorpage.errors.status=400-499"
      - "traefik.http.middlewares.404errorpage.errors.service={{ nginx_service }}"
      - "traefik.http.middlewares.404errorpage.errors.query=/default.html"
      - "traefik.http.routers.default-server.rule=HostRegexp(`{host:.+}`)"
      - "traefik.http.routers.default-server.tls=true"
      - "traefik.http.routers.default-server.tls.certresolver=le"
##new_virtual_hosts_labels_here##

